.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    border-radius: 8px;

    transition: .3s linear;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    &--trans {
        border: 1px solid #48D739;
        color: #48D739;

        @media(min-width:1024px) {
            &:hover {
                background-color: #7ee972;
                border-color: #7ee972;
                color: #fff;
            }
        }
    }

    &--green {
        background: #48D739;
        color: #FFFFFF;

        @media(min-width:1024px) {
            &:hover {
                background-color: #7ee972;
            }
        }
    }

    &--trans-gray {
        border: 1px solid #E6E6E6;
        color: #000;

        @media(min-width:1024px) {
            &:hover {
                background-color: #1D1D1D;
                border-color: #1D1D1D;
                color: #fff;
            }
        }
    }

    &--gray {
        background: #777777;
        color: #fff;

        @media(min-width:1024px) {
            &:hover {
                background-color: #1D1D1D;
            }
        }
    }
}