.il-style {
  /* .advanced-search-input-to {
      left: 21px;
  }
  .advanced-search-input-from {
      right: 16px;
      left: auto;
  } */
  /* .irs-min {
      right: 0;
      left: auto;
  }
  .irs-max {
      left: 0;
  } */
}
.il-style .header .logo {
  order: 8;
}
.il-style .header__catalog {
  order: 7;
  margin-left: 0;
  margin-right: 30px;
}
.il-style .header__shops {
  order: 6;
  margin-left: 0;
  margin-right: 16px;
}
.il-style .nav {
  order: 5;
  margin-left: 0;
  margin-right: 24px;
}
.il-style .search {
  order: 4;
}
.il-style .header__account {
  order: 3;
  margin-right: 0;
  margin-left: 24px;
  flex-direction: row-reverse;
}
.il-style .header__account--link::before {
  left: auto;
  right: 6px;
}
.il-style .header__account--link {
  margin-right: 0;
  padding-left: 0;
  margin-left: 16px;
  padding-right: 30px;
}
.il-style .header__favorites {
  order: 2;
  margin-left: 0;
  margin-right: 24px;
}
.il-style .header__basket {
  order: 1;
  margin-left: 10px;
  margin-right: 24px;
}
.il-style .header__favorites::after {
  left: auto;
  right: -25px;
}
.il-style .nav__link {
  padding: 7px 17px 7px 4px;
}
.il-style .nav__link::before {
  left: auto;
  right: 4px;
}
.il-style .search {
  flex-direction: row-reverse;
}
.il-style .search__filter {
  margin-left: 0;
  margin-right: 14px;
  border-right: 1px solid #f0f0f0;
  border-left: none;
}
.il-style .search__btn {
  margin-left: 0;
  margin-right: auto;
}
.il-style .search__input input {
  text-align: right;
}
.il-style .catalog-list {
  left: auto;
  right: 0;
  transform: translateX(100%);
}
.il-style .catalog-list.active {
  transform: translateX(0);
}
.il-style .catalog-list__title {
  text-align: right;
}
.il-style .catalog-list__closed {
  left: 20px;
  right: auto;
}
.il-style .catalog-list__item {
  text-align: right;
}
.il-style .baner img {
  transform: scaleX(-1);
}
.il-style .baner div span:last-child {
  left: 0;
  right: auto;
}
.il-style .baner div span:first-child {
  right: 0;
  left: auto;
  transform: translateY(-60%) rotate(4deg);
  text-align: right;
}
.il-style .wew-stores__title {
  margin-left: auto;
}
.il-style .wew-stores__wrap-link {
  justify-content: end;
}
.il-style .wew-stores__link {
  justify-content: flex-end;
  text-align: right;
}
.il-style .wew-stores__link-all {
  margin-left: auto;
  padding: 10px 10px 10px 20px;
}
.il-style .wew-stores__link-all::before {
  left: 8px;
  right: auto;
  transform: translateY(-50%) rotate(180deg);
}
.il-style .card-prod__btn {
  margin-left: auto;
}
.il-style .card-prod__name {
  text-align: right;
}
.il-style .card-prod__price {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.il-style .card-prod__price div {
  margin-left: 0;
  margin-right: 5px;
}
.il-style .card-prod__category {
  text-align: right;
}
.il-style .title {
  text-align: right;
}
.il-style .bottom-sec__wrap {
  flex-direction: row-reverse;
}
.il-style .sales-ban__subtitle {
  text-align: right;
}
.il-style .sales-ban__btn {
  margin-left: auto;
}
.il-style .sales-ban__bottom {
  text-align: right;
}
.il-style .sales-ban img {
  transform: scaleX(-1);
}
.il-style .about > span {
  text-align: right;
}
.il-style .about p {
  text-align: right;
}
.il-style .about__btn {
  margin-left: auto;
}
.il-style .footer__wrapper {
  text-align: right;
}
.il-style .footer__wrapper a {
  padding-left: 0;
  padding-right: 32px;
}
.il-style .footer__wrapper a::before {
  right: 0;
  left: auto;
}
.il-style .product__more-btn {
  margin-left: auto;
}
.il-style .product__filter {
  justify-content: flex-end;
}
.il-style .breadcrumbs {
  margin: 20px 0 20px auto;
}
.il-style .mobile-overflow {
  display: flex;
  flex-direction: row-reverse;
}
.il-style .breadcrumbs__list-item::after {
  right: auto;
  left: -10px;
}
.il-style .pagination {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.il-style .pagination__all-pages {
  margin: 0;
  margin-right: 43px;
}
.il-style .advanced-search__inner {
  flex-direction: row-reverse;
}
.il-style .advanced-search__title {
  text-align: right;
}
.il-style .advanced-search__name {
  text-align: right;
}
.il-style .advanced-search__search input {
  text-align: right;
}
.il-style .advanced-search__radio-text {
  text-align: right;
  padding-left: 0;
  padding-right: 25px;
  margin-right: 5px;
}
.il-style .advanced-search__radio-text::before {
  right: 0;
  left: auto;
}
.il-style .advanced-search__filter {
  width: 335px;
}
.il-style .advanced-search__input {
  text-align: right;
}
.il-style .select__top {
  justify-content: flex-end;
}
.il-style .select__top::before {
  left: 16px;
  right: auto;
}
.il-style .select__input {
  text-align: right;
}
.il-style .show-filter {
  right: 30px;
}
.il-style .advanced-search__content {
  margin-left: 0;
  margin-right: 53px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 4;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.il-style .advanced-search__content .card-prod-wrap {
  width: 23%;
}
.il-style .shop-page__btn-more {
  text-align: right;
}
.il-style .communic {
  margin-left: auto;
}
.il-style .form .form__select span {
  text-align: right;
}
.il-style .form .form__input input {
  text-align: right;
}
.il-style .form .form__select select {
  text-align: right;
}
.il-style .form .form__select div::before {
  right: auto;
  left: 10px;
}
.il-style .form .form__textarea textarea {
  text-align: right;
}
.il-style .form .form__input span {
  text-align: right;
}
.il-style .form .form__textarea span {
  text-align: right;
}
.il-style .communic__btn {
  margin: 25px 0 0 auto;
}
.il-style .for-sec__subtitle {
  margin: 15px 0 30px auto;
  text-align: right;
}
.il-style .for-sec__block--title {
  text-align: right;
}
.il-style .for-sec__block p {
  text-align: right;
  margin-left: auto;
}
.il-style .for-sec__block .for-sec__block-bg {
  left: 0;
  transform: scaleX(-1);
}
.il-style .for-sec__block-item {
  margin: 20px 0 20px auto;
}
.il-style .for-sec__block-item span {
  text-align: right;
}
.il-style .for-sec__block-item span::before {
  right: 9px;
  left: auto;
  top: 11px;
  transform: rotate(180deg);
}
.il-style .block-advatag__icon {
  justify-content: flex-end;
  margin-left: auto;
}
.il-style .partners-hed__wrapper {
  flex-direction: row-reverse;
}
.il-style .partners-hed__btn {
  margin-left: 0;
  margin-right: auto;
}
.il-style .partners-hed__menu {
  margin-left: 0;
  margin-right: 85px;
}
.il-style .partners-promo h1 {
  text-align: right;
}
.il-style .partners-promo p {
  text-align: right;
  margin-left: auto;
}
.il-style .partners__info p {
  text-align: right;
}
.il-style .partners__info .partners__info-btn {
  margin-left: auto;
}
.il-style .search-top__title {
  flex-direction: row-reverse;
  display: flex;
  align-items: flex-end;
}
.il-style .search-top__title span {
  padding-left: 0;
  padding-right: 10px;
}
.il-style .search-top__link {
  margin-left: auto;
  padding: 10px 10px 10px 20px;
}
.il-style .search-top__link::before {
  left: 8px;
  right: auto;
  transform: translateY(-33%) rotate(180deg);
}
.il-style .shop-page__wrapper {
  flex-direction: row-reverse;
}
.il-style .shop-page__descr {
  margin-right: 25px;
  margin-left: 0;
}
.il-style .shop-page__text {
  text-align: right;
}
.il-style .shop-page__info {
  justify-content: flex-end;
}
.il-style .shop-page__btn {
  margin-left: auto;
  display: block;
}
.il-style .shop-page__info div {
  flex-direction: row-reverse;
  display: flex;
  margin-left: 24px;
  margin-right: 0;
}
.il-style .shop-page__info div span:first-child {
  padding-left: 3px;
  padding-right: 0;
}
.il-style .shop-slider__block--title {
  text-align: right;
}
.il-style .shop__tab {
  margin-left: auto;
  flex-direction: row-reverse;
}
.il-style .shop__tab-link {
  margin-left: 20px;
  margin-right: 0;
}
.il-style .container {
  padding: 0 25px 0 15px;
}
.il-style .shop__block {
  flex-direction: row-reverse;
}
.il-style .shop__block--img {
  margin-right: 0;
  margin-left: 20px;
}
.il-style .shop__block--title {
  text-align: right;
}
.il-style .shop__block--descr {
  text-align: right;
}
.il-style .shop__block--quality {
  justify-content: flex-end;
}
.il-style .shop__block--quality div {
  margin-left: 25px;
  margin-right: 0;
  flex-direction: row-reverse;
  display: flex;
}
.il-style .shop__block--quality div span {
  padding-right: 5px;
  padding-left: 0;
}
.il-style .shop__block--btn {
  margin-left: auto;
}
.il-style .registration__name {
  text-align: right;
}
.il-style .registration__input {
  text-align: right;
}
.il-style .registration__group--data::before {
  right: auto;
  left: 17px;
}
.il-style .registration__captcha {
  text-align: right;
}
.il-style .registration__btn {
  margin-left: auto;
  display: block;
}
.il-style .advanced-search__radio-text::after {
  right: 4px;
  left: auto;
}
.il-style .registration__group .error-messages {
  left: auto;
  right: 0;
}
.il-style .lang-link {
  flex-direction: row-reverse;
}
.il-style .lang-link span {
  padding-right: 5px;
  padding-left: 0;
}
.il-style .form .form__check {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.il-style .form .form__check label {
  padding-right: 4px;
  padding-left: 0;
}
.il-style .form .form__input .password-show {
  left: 10px;
  right: auto;
}
.il-style .form .form__input-password input {
  padding-left: 40px;
  padding-right: 10px;
}
.il-style .for-sec__block p a {
  padding-left: 20px;
}
.il-style .for-sec__block p a::before {
  left: 5px;
  right: auto;
}
.il-style .for-sec__block--subtile {
  text-align: right;
}
.il-style .pagination__link-wrap {
  flex-direction: row-reverse;
}
.il-style .pagination__link-wrap div {
  flex-direction: row-reverse;
}
.il-style .pagination__btn {
  transform: rotate(180deg);
}
.il-style .one-item__info-value {
  padding-right: 5px;
}
.il-style .one-item__description-btn {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.il-style .shop__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 24px;
}
.il-style .shop__wrapper .shop__block {
  width: calc(50% - 12px);
}
.il-style .advanced-search__range-box {
  border-bottom: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 16px;
}
.il-style .advanced-search__range-box .irs {
  display: none;
}
.il-style .product__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.il-style .product__wrapper .card-prod-wrap {
  width: calc(16.6% - 20px);
}
.il-style .other-item {
  max-width: 250px;
}
.il-style .other-item__price {
  -moz-column-gap: 5px;
  column-gap: 5px;
}
@media (max-width: 1280px) {
  .il-style .header__catalog {
    margin-right: 20px;
  }
  .il-style .nav {
    margin-right: 15px;
  }
  .il-style .header__account {
    margin-left: 15px;
  }
  .il-style .header__favorites {
    margin-right: 15px;
  }
  .il-style .header__basket {
    margin-right: 15px;
  }
  .il-style .header__favorites::after {
    right: -15px;
  }
  .il-style .partners-hed__menu {
    margin-right: 0;
  }
  .il-style .advanced-search__content .card-prod-wrap {
    width: 31%;
  }
}
@media (max-width: 1200px) {
  .il-style .header__account {
    margin-right: auto;
    margin-left: 8px !important;
  }
  .il-style .header__account--link {
    margin-left: 50px;
    margin-right: 0 !important;
  }
  .il-style .header__account--link::after {
    left: -18px;
    right: auto !important;
  }
  .il-style .nav__list {
    align-items: flex-end;
  }
  .il-style .nav {
    margin-left: 15px;
    margin-right: 0;
  }
  .il-style .mobil-nav {
    flex-direction: row-reverse;
  }
  .il-style .lang-wrap {
    left: 0;
    right: inherit;
  }
  .il-style .customer__unit {
    margin-right: 5px;
  }
  .il-style .product__wrapper .card-prod-wrap {
    width: calc(25% - 20px);
  }
}
@media (max-width: 1150px) {
  .il-style .other-items__wrapper {
    flex-wrap: wrap;
  }
  .il-style .other-items__wrapper .other-item {
    width: 15%;
  }
}
@media (max-width: 1000px) {
  .il-style .advanced-search__content .card-prod-wrap {
    width: 47%;
  }
}
@media (max-width: 900px) {
  .il-style .shop__block {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 800px) {
  .il-style .bottom-sec__wrap {
    flex-direction: column;
  }
  .il-style .advanced-search__filter {
    right: 0;
    left: auto;
    transform: translateX(120%);
  }
  .il-style .filter__closed {
    left: 20px;
    right: auto;
  }
  .il-style .advanced-search__content {
    margin-right: 0;
  }
  .il-style .advanced-search__content {
    justify-content: space-between;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .il-style .advanced-search__content .card-prod-wrap {
    width: 48%;
  }
  .il-style .other-items__wrapper {
    flex-wrap: wrap;
  }
  .il-style .other-items__wrapper .other-item {
    width: 22%;
  }
  .il-style .product__wrapper .card-prod-wrap {
    width: calc(33.3% - 20px);
  }
}
@media (max-width: 700px) {
  .il-style .pagination {
    flex-direction: column;
  }
  .il-style .pagination__all-pages {
    margin-top: 35px;
  }
  .il-style .search-top__title {
    flex-direction: column;
  }
  .il-style .search-top__title span {
    padding-right: 0;
    padding-top: 10px;
  }
  .il-style .product__wrapper {
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .il-style .product__wrapper .card-prod-wrap {
    width: calc(35% - 30px);
  }
}
@media (max-width: 580px) {
  .il-style .header__account {
    margin-left: 0 !important;
  }
  .il-style .header__shops {
    margin-left: auto;
  }
  .il-style .header__account--link {
    margin-left: 20px;
  }
  .il-style .header__account--link::after {
    left: -6px;
  }
  .il-style .advanced-search__filter {
    width: 100%;
  }
  .il-style .shop__block {
    width: 100% !important;
  }
  .il-style .other-items__wrapper {
    flex-wrap: wrap;
  }
  .il-style .other-items__wrapper .other-item {
    width: 30%;
  }
  .il-style .product__wrapper .card-prod-wrap {
    width: calc(52% - 30px);
  }
}
@media (max-width: 420px) {
  .il-style .shop-page__wrapper {
    flex-direction: column;
  }
  .il-style .shop-page__img {
    text-align: right;
  }
  .il-style .shop-page__descr {
    margin-right: 0;
  }
  .il-style .container {
    padding: 0 15px 0 15px;
  }
  .il-style .other-items__wrapper {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
  .il-style .other-items__wrapper .other-item {
    width: 46%;
  }
}

.il-style .one-item__top {
  flex-direction: row-reverse;
}
@media (max-width: 1023px) {
  .il-style .one-item__top {
    flex-direction: column;
  }
}
.il-style .one-item__title {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .il-style .one-item__title {
    position: relative;
    padding-right: 0;
    padding-left: 40px;
  }
}
@media (max-width: 1023px) {
  .il-style .one-irem__wish-button {
    right: unset;
    left: 0;
  }
}
.il-style .one-item__availability {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 15px;
}
.il-style .one-item__availability.available::before {
  left: unset;
  right: 0;
}
.il-style .one-item__price {
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-right: 0;
}
.il-style .one-item__price p {
  left: unset;
  right: 150%;
  text-align: right;
}
.il-style .one-item__link {
  margin-left: auto;
}
.il-style .one-item__text {
  text-align: right;
}
.il-style .one-item__currency {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.il-style .one-item__btns {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.il-style .one-item__btn {
  margin-right: 0;
  margin-left: 24px;
}
.il-style .one-item__counter {
  margin-right: 0;
  margin-left: 24px;
  flex-direction: row-reverse;
}
.il-style .one-item__info {
  display: flex;
  flex-direction: row-reverse;
}
.il-style .one-item__salesman {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.il-style .one-item__salesman-info {
  margin-left: 0;
  margin-right: 18px;
}
.il-style .one-item__salesman-text,
.il-style .one-item__salesman-link {
  text-align: right;
}
.il-style .one-item__left-wrapper {
  flex-direction: row-reverse;
  margin-left: 16px;
}
@media (max-width: 1023px) {
  .il-style .one-item__left-wrapper {
    margin-left: 0;
  }
}
.il-style .one-item__slider-min {
  padding-right: 0;
  margin-right: 0;
  margin-left: 16px;
}
.il-style .one-item__slider-min-wrapper {
  min-width: 80px;
}
.il-style .one-item__bottom {
  flex-direction: row-reverse;
}
.il-style .one-item__description-title {
  text-align: right;
}
.il-style .one-item__description-text {
  text-align: right;
}
.il-style .text-hide {
  text-align: right;
}
.il-style .one-item__description-btn {
  margin-left: unset;
  margin-right: auto;
}
.il-style .about-salesman__title,
.il-style .about-salesman__text {
  text-align: right;
}
.il-style .other-items__title {
  text-align: right;
}
.il-style .other-items__wrapper {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
  column-gap: 20px;
  flex-direction: row;
  flex-grow: 1;
}
.il-style .other-item__img {
  transform: scaleX(-1);
}
.il-style .other-item__category,
.il-style .other-item__name {
  text-align: right;
}
.il-style .other-item__price {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.il-style .other-item__btn {
  margin-left: auto;
}

.il-style .closed-part {
  flex-direction: row-reverse;
}
/*# sourceMappingURL=il-style.css.map */
